.img {
    background-image: url(../Krushna.jpeg);
    background-size: cover;
    position: relative;
    background-repeat:no-repeat;
    background-position: center;   
    height: 700px;
}

h1,h4 {
    text-align: center;
    padding: 10px;
    margin: 15px;
}

ul{
    nav-left: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #196fc0;
}

li{
    float: left;
}

li a{
    display: block;
    color: wheat;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active){
    background-color: aqua;
}

.active{

    text-align: end;
    background-color: #004B91;
}

h2 {
    text-align: center;
    color: #196fc0;

}

p{
    text-align: center;
    font-family: Copperplate, Papyrus, fantasy;
}   

/* .row3 {
    background-size: cover;
    position: relative;
    background-repeat:no-repeat;
    height: 500px;
    background-position: center;
    font-family: Copperplate, Papyrus, fantasy;
} */
.container-fluid1 {
    background-image: url(../hero.jpg);
    background-size: cover;
    position: relative;
    background-repeat:no-repeat;
    background-position: center;   
    height: 200px;
}

h5 {
    text-align: center;
    color: wheat;
    font-family: Copperplate, Papyrus, fantasy;
}

h6{
    text-align: center;
}

.container-fluid1{
    background-size: cover;
    position: relative;
    background-repeat:no-repeat;
    background-position: center;   
    height: 200px;
}